/*
Theme Name: Sacred Heart of Jesus Shrine
Author: Spring Valley Tech Corp
Author URI: www.springvalley.tech
Description: Website for Sacred Heart of Jesus Shrine
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/

.latest-post {
	-webkit-box-shadow: 1px 14px 31px -2px rgba(0,0,0,0.06);
	-moz-box-shadow: 1px 14px 31px -2px rgba(0,0,0,0.06);
	box-shadow: 1px 14px 31px -2px rgba(0,0,0,0.06);
	margin-bottom: 0;
}

.latest-post img{
	height: auto;
	width: 100%;
}

.reading-text span{
	font-size: 1rem;
}

#main_menu{
	position: absolute;
	top: 0;
	z-index: 1;
}	

.location{
	margin-top: 50px;
}

.location img{
	height: 100%;
	width: auto;
}

.latest-news{
	height: auto;
}

.location .map{
	background-color: #cecece;
	height: 100%;
	width: auto;
}

.about-post{
	margin: 4rem 0;
}