html,
body {
    font-family: 'tt_normsmedium';
    height: 100%
}

body {
    background: #fff
}

.container {
    max-width: 970px !important
}

.btn {
    border-radius: 50px;
    background-color: red;
    padding: .5rem 1.7rem;
    font-size: .9rem;
    color: #fff
}

.inner_main_menu {
    margin: 0 auto
}

.inner_main_menu ul {
    margin: 0;
    padding: 100px 0 0;
    list-style: none;
    text-align: right
}

.inner_main_menu ul li {
    float: none;
    display: inline-block
}

.inner_main_menu ul li:nth-child(1) {
    float: left
}

.inner_main_menu ul li:nth-child(2) {
    float: left
}

.inner_main_menu ul li:nth-child(3) {
    float: left
}

.inner_main_menu ul li a {
    color: #fff;
    font-size: 15px;
    text-decoration: none;
    display: block;
    padding: 10px 20px
}

.inner_main_menu ul li a:hover {
    color: red
}

#main_menu {
    width: 100%;
    position: relative
}

.logo_area {
    width: 300px;
    height: 300px;
    position: absolute;
    left: 50%;
    top: 40%;
    content: "";
    margin-left: -150px;
    text-align: center
}

.header {
    background: url("../images/Group 4.png") no-repeat;
    background-size: cover;
    height: auto
}

.header-text {
    margin-top: 5rem;
    padding: 10rem 0
}

.header-text h1 {
    font-size: 3.6rem;
    line-height: 3.3rem;
    color: #fff
}

.header-text .btn {
    margin-top: 20px
}

.donate-banner {
    background: #000 url("../images/donate-banner.png") no-repeat;
    height: auto;
    padding: .8rem 0;
    overflow: hidden
}

.donate-banner p {
    color: #fff;
    font-size: .8rem;
    float: left;
    margin-top: 1rem
}

.donate-banner .btn {
    float: left;
    margin-top: 1rem;
    margin-right: 1rem
}

.categories {
    margin-top: 2rem
}

.categories .category {
    postion: relative
}

.categories .category a {
    position: absolute;
    left: 0;
    bottom: 4rem;
    border-radius: 0
}

.latest-news {
    margin-top: 2.5rem;
    height: 100%
}

.latest-news .events a {
    font-size: .8rem;
    padding: .4rem .8rem
}

.latest-news .post-margin {
    margin: 15px 0
}

.latest-post {
    border: 1px solid #eee;
    margin-bottom: 2rem;
    height: 100%
}

.latest-post p {
    font-size: .9rem;
    margin: 0
}

.latest-post .title {
    font-size: 1.2rem;
    margin-top: 1rem
}

.latest-post p,
.latest-post .title {
    padding: 0 1rem 1rem 1rem;
    line-height: 1.2rem
}

.latest-post .text-center {
    font-size: .8rem
}

.latest-post a {
    color: #000
}

.latest-post a:hover {
    color: red;
    text-decoration: none
}

.events .btn {
    border-radius: 0
}

.events .day {
    font-size: 3rem;
    font-weight: bold
}

.todays-gospel {
    margin-top: 2rem
}

.todays-gospel p {
    font-size: .7rem
}

.location {
    background: #f8f8f8;
    text-align: center;
    padding: 50px 0
}

.location .address {
    background: #fff;
    padding: 4rem
}

.location h5 {
    font-size: 1rem
}

.location p {
    font-size: .8rem;
    margin: 0
}

.location .col-md-5,
.location .col-md-7 {
    padding: 0
}

footer {
    background: #212121;
    color: #fff;
    padding: 1.8rem
}

footer h5 {
    font-size: 1rem
}

footer p {
    font-size: .8rem;
    margin: 0
}

footer .donate-heart {
    position: relative
}

footer img {
    position: absolute;
    right: 0;
    top: -65px
}